$border-black: #000;

body {
  padding-top: 10px;
}

.threat-graph {
  border: 1px $border-black solid;
  width: 100%;

  embed {
    height: 100vh;
    width: 100%;
  }
}


input-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
