body {
  padding-top: 10px; }

.threat-graph {
  border: 1px #000 solid;
  width: 100%; }
  .threat-graph embed {
    height: 100vh;
    width: 100%; }

.inputDomain {
  width: 40%; }

.input-dom-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap; }

.clippy {
  display: inline;
  width: 100%;
  height: auto;
  width: 1rem; }

.btn-clip {
  display: inline-block;
  margin-left: -1rem;
  background: #ddd; }

.go-group {
  margin-left: 0.5rem; }

h1 {
  font-weight: bold; }

.check-site-description:hover {
  font-size: 1.03rem;
  font-weight: bold;
  transition: font .3s ease; }

.svg {
  fill: #000;
  height: 1rem;
  margin-left: .2rem; }

.svg:hover {
  fill: #333;
  transform: scale(1.4);
  transition: font .3s ease;
  font-weight: bold; }
