$border-black: #000;

body {
  padding-top: 10px;
}

.threat-graph {
  border: 1px $border-black solid;
  width: 100%;

  embed {
    height: 100vh;
    width: 100%;
  }
}


.input-dom-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.clippy {
  display: inline;
  // margin-left: -14;
  width: 100%;
  height: auto;
  width: 1rem;
}

.btn-clip {
  display: inline-block;

}
