mixin link-option(id, displayText,isChecked = true)
  .link-container
    label.form-check-label
      input.form-check-input(type='checkbox', checked=isChecked, id = "#{id}")
      span.check-site-description  #{displayText}
    a.external-link
      img.link-icon.svg(src='./assets/link.svg')
