//output:../index.html
include mixins
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    script(src='https://code.jquery.com/jquery-3.1.1.js', integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')
    title MultiLinks Opener
    // Bootstrap core CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi', crossorigin='anonymous')
    // Custom styles for this template
    link(href='css/styles.css', rel='stylesheet')
  form
    body(onload="checkFileAPI();")
      .container
        h1.mb-2
          |Easy Link Opener
        div.col-xs-6
          .form-group
            label(for='exampleInputFile') Step 1 - Select Domains File
            input#exampleInputFile.form-control-file(type='file', aria-describedby='fileHelp', onchange='readText(this)')
            small#fileHelp.form-text.text-muted
              | Make sure the file is .txt and domains are separated by a new line
          .form-group
            label(for='domain-select') Step 2 - Select Domain
            select#domain-select.form-control(multiple='',style="height:45vh")
        
        div.col-xs-3 
          h1
          | Step 3 - Check desired websites
          fieldset.form-group.mt-1.mb-1
            .form-check
              .btn-group(role='group', aria-label='Basic example')
                button.btn.btn-secondary.bg-info.text-white(type='button',id="select-all-basic-websites") Select All
                button.btn.btn-secondary.bg-danger.text-white(type='button',id="deselect-all-basic-websites") Deselect All
            
            .form-check.basic-options(style="display:flex; flex-direction: column; ")
              +link-option("isup","IsUp")
              +link-option("ping","Ping")
              +link-option("google-in-site","Google in-site search")
              +link-option("google-search","Google search")
              +link-option("vt-dom","Virus Total Domains")
              +link-option("vt-url","Virus Total URL")
              +link-option("threat-crowd","ThreatCrowd")
              +link-option("void","URL Void")
              +link-option("wot","WOT")
              +link-option("google-malware","Google Malware Search")
              +link-option("url-query","URL query")

            button.btn.btn-primary.btn-basic(type='submit') Go!
        
        div.col-xs-3 
          h1
          | Advanced research tools
          fieldset.form-group.mt-1.mb-1
            .form-check
              .btn-group(role='group', aria-label='Basic example')
                button.btn.btn-secondary.bg-info.text-white(type='button',id="select-all-advanced-websites") Select All
                button.btn.btn-secondary.bg-danger.text-white(type='button',id="deselect-all-advanced-websites") Deselect All
            
            .form-check.advanced-options(style="display:flex; flex-direction: column; ")

              +link-option("alexa","Alexa")
              +link-option("robtex","Robtex")
              +link-option("norton","Norton SafeWeb")
              +link-option("qutera","Qutera")
              +link-option("sucuri","Sucuri")
              +link-option("central-ops","Central Ops", false)
              +link-option("wayback","Wayback Machine", false)
              //- +link-option("snapito","Snapito (screenshot tool)", false)
            button.btn.btn-primary.btn-advanced(type='submit') Go!
  //
    Bootstrap core JavaScript
    ==================================================
  // Placed at the end of the document so the pages load faster
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js', integrity='sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU', crossorigin='anonymous')
  script(src='js/multi-links.js')
